<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Diet.proteins_page"
            android:screenOrientation="locked"
            />
        <activity android:name=".more.setting_page"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".more.feedback_page"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".more.human_body"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".joining_from"
            android:screenOrientation="locked"/>
        <activity android:name=".more.Calculate_page"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".more.Calendar_page"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".more.Reminders_page"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".stopwatch.stop_watch_page"
            android:screenOrientation="locked"/>
        <activity android:name=".home.Home_page"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".Authentification.LogInActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".Soon_Activity"
            android:screenOrientation="locked"/>
        <activity android:name=".Authentification.SignUpActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".slider.slider"
            android:screenOrientation="locked"/>
        <activity android:name=".home.Tracker_fragment"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".home.CloseActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".home.Wim_fragment"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".home.Khatkha_fragment"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".home.Choose_fragment"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".home.None_fragment"
            android:screenOrientation="locked"
            android:theme="@style/greenbar"/>
        <activity android:name=".Authentification.ForgotPasswordActivity"
            android:screenOrientation="locked" />
        <activity android:name=".DaysActivity.KhatkhaActivity"
            />
        <activity android:name=".DaysActivity.WimActivity"
            />
        <activity android:name=".DaysActivity.NoneActivity"
            />
        <activity android:name=".DaysActivity.KnowledgePageActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".mainpage.MainActivity"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".more.AlertReceiver" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>